.container-team-page {
    margin-top: 10vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-team-page .chakra-text {
 	font-family: myFirstFont;
}
