.container-roadmap-page {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rotated-text-roadmap {
    transform: rotate(3deg) translate(-10%, 0);
}
