.nav-bar {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	animation-duration: 1s;
}

.nav-bar > div {
	border-color: transparent;
}

.logo {
	max-width: 350px;
	max-height: 80px;
}

@keyframes transparentToBlack {
	from {
		background-color: transparent;
	}
	to {
		background-color: #171923;
	}
}

@keyframes transparentToWhite {
	from {
		background-color: transparent;
	}
	to {
		background-color: #F7FAFC;
	}
}

@keyframes whiteToTransparent {
	from {
		background-color: #F7FAFC;
	}
	to {
		background-color: transparent;
	}
}


@keyframes blackToTransparent {
	from {
		background-color: #171923;
	}
	to {
		background-color: transparent;
	}
}

