@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&display=swap");

* {
	font-family: "Fredoka One", cursive;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.container {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 1;
}

.container > canvas {
	width: 100%;
	height: 100%;
	display: block;
}

@media (max-width: 500px) {
	.container {
		height: 115vh;
	}
}
